@use "bootstrap";
@use "shared-styling";
@use "sticky-header";
@use "sticky-footer";

.layout-wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 90px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.pastel-bg {
  background: radial-gradient(circle at 70% 70%, #f3e2fd, transparent),
    radial-gradient(circle at 30% 30%, #b1d9f1ec, transparent),
    radial-gradient(circle at 50% 90%, #d6affadc, transparent);
  background-color: #ffeafd;
    filter: blur(2px);
    position: fixed;
    inset: 0;
    z-index: -100;
}

.message {
  max-width: 80%;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.message.other {
  align-self: flex-start;
  background: #e8d9ff;
  border-bottom-left-radius: 0px;
}

.message.me {
  align-self: flex-end;
  background: #cfe8ff;
  border-bottom-right-radius: 0px;
}