.f-shadow {
  box-shadow: 0 0 10px rgba(69, 0, 148, 0.123);
}

.f-shadow-inset {
  box-shadow: inset 0 0 10px rgba(69, 0, 148, 0.123);
}

.f-border {
  border-radius: 16px;
}

.f-button {
  font-size: 22px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  padding: 0;
}

.f-button:focus,
.f-button:focus-visible,
.f-button:active {
  outline: none;
  box-shadow: none;
}

.semi-transparent-bg {
  background-color: #ffffff71;
}