.top-nav {
  position: fixed;
  height: 85px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 100;
}