.bottom-nav {
  position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 100;
}

.nav-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: all 0.25s ease;
}

.nav-item.active {
  font-size: 28px;
  width: 50px;
  height: 50px;
  background: #41445c;
  color: white;
  transform: translateY(-8px);
}

.nav-item:focus,
.nav-item:focus-visible,
.nav-item:active {
  outline: none;
  box-shadow: none;
}